<sw-page class="blog-create">
    <template #smart-bar-header>
        <h2>{% verbatim %}{{ $tc('blog-system.blog.create.title') }}{% endverbatim %}</h2>
    </template>

    <template #smart-bar-actions>
        <sw-language-switch
            :disabled="isLoading || !blog"
            @on-change="onChangeLanguage"
            @change="onChangeLanguage" />

        <mt-button variant="secondary" @click="$router.push({ name: 'blog.list' })">
            {% verbatim %}{{ $tc('blog-system.common.cancel') }}{% endverbatim %}
        </mt-button>

        <sw-button-process
            variant="primary"
            :process-success="isSaveSuccessful"
            :is-loading="isLoading"
            :disabled="isLoading || !blog"
            @update:process-success="isSaveSuccessful = false"
            @click="onSave">
            {% verbatim %}{{ $tc('blog-system.common.save') }}{% endverbatim %}
        </sw-button-process>
    </template>

    <template #content>
        <sw-loader v-if="isLoading" />

        <sw-card-view v-else-if="blog">
            <mt-card :title="$tc('blog-system.blog.detail.generalCard')" :isLoading="isLoading">
                <mt-text-field v-model="blog.name" required type="text" :label="$tc('blog-system.blog.detail.field.name')" />
                <mt-text-field v-model="blog.author" required type="text" :label="$tc('blog-system.blog.detail.field.author')" />
                <mt-switch v-model="blog.active" bordered :label="$tc('blog-system.blog.detail.field.active')" />

                <sw-entity-single-select
                    v-model:value="blog.blogCategoryId"
                    entity="blog_category"
                    :context="languageContext"
                    :label="$tc('blog-system.blog.detail.field.category')" />

                <mt-datepicker
                    v-model="blog.releaseDate"
                    :date-type="true"
                    :placeholder="$tc('sw-datepicker.date.placeholder')"
                    :label="$tc('blog-system.blog.detail.field.releaseDate')" />
            </mt-card>

            <mt-card :title="$tc('blog-system.blog.detail.productsCard')" :isLoading="isLoading">
                <sw-entity-multi-id-select
                    name="blog-products"
                    :repository="productRepository"
                    :criteria="productCriteria"
                    :value="Array.isArray(productIds) ? productIds : []"
                    @update:value="productIds = Array.isArray($event) ? $event : []" />
            </mt-card>

            <mt-card :title="$tc('blog-system.blog.detail.contentCard')" :isLoading="isLoading">
                <mt-textarea v-model="blog.description" :label="$tc('blog-system.blog.detail.field.description')" />
            </mt-card>
        </sw-card-view>

        <sw-empty-state v-else :title="$tc('blog-system.common.initializing')" />
    </template>
</sw-page>
