{% block sw_cms_block_four_column_image_text_preview %}
<div class="sw-cms-preview-four-column-image-text">

    <div class="sw-cms-preview-four-column-image-text__col">
        <div class="sw-cms-preview-four-column-image-text__image">
            <img
                :src="assetFilter('/administration/administration/static/img/cms/preview_camera_small.webp')"
                alt=""
            >
        </div>
        <h3>Lorem</h3>
        <p>Lorem ipsum dolor sit amet elitr.</p>
    </div>

    <div class="sw-cms-preview-four-column-image-text__col">
        <div class="sw-cms-preview-four-column-image-text__image">
            <img
                :src="assetFilter('/administration/administration/static/img/cms/preview_plant_small.webp')"
                alt=""
            >
        </div>
        <h3>Ipsum</h3>
        <p>Lorem ipsum dolor sit amet elitr.</p>
    </div>

    <div class="sw-cms-preview-four-column-image-text__col">
        <div class="sw-cms-preview-four-column-image-text__image">
            <img
                :src="assetFilter('/administration/administration/static/img/cms/preview_glasses_small.webp')"
                alt=""
            >
        </div>
        <h3>Dolor</h3>
        <p>Lorem ipsum dolor sit amet elitr.</p>
    </div>

    <div class="sw-cms-preview-four-column-image-text__col">
        <div class="sw-cms-preview-four-column-image-text__image">
            <img
                :src="assetFilter('/administration/administration/static/img/cms/preview_camera_small.webp')"
                alt=""
            >
        </div>
        <h3>Elitr</h3>
        <p>Lorem ipsum dolor sit amet elitr.</p>
    </div>

</div>
{% endblock %}
