{% block sw_cms_el_preview_cms_enhancements_button %}
<div class="sw-cms-el-preview-cms-enhancements-button">
    <span class="sw-cms-el-preview-cms-enhancements-button__btn">{{ element.config.label.value }}</span>
</div>
{% endblock %}
