{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions_promotion_input_group %}

{% endblock %}
{% block component_offcanvas_cart_actions_checkout %}

{% endblock %}
{% block component_offcanvas_cart_actions_cart %}
    <div class="d-grid">
        <a href="{{ path('frontend.checkout.cart.page') }}"
           class="btn begin-checkout-btn{% if isCartNotEmpty %} btn-primary{% else %} btn-light disabled{% endif %}"
           title="{{ 'checkout.proceedToCart'|trans|striptags }}">
            {{ 'checkout.proceedToCart'|trans|sw_sanitize }}
        </a>
    </div>
{% endblock %}
