{% block sw_cms_block_three_column_captioned_images_horizontal_preview %}
<div class="sw-cms-preview-three-column-captioned-images-horizontal">

    <div class="sw-cms-preview-three-column-captioned-images-horizontal__item">
        <div class="sw-cms-preview-three-column-captioned-images-horizontal__image">
            <img :src="assetFilter('/administration/administration/static/img/cms/preview_camera_small.webp')" alt="">
            <span class="sw-cms-preview-three-column-captioned-images-horizontal__btn">Button</span>
        </div>
        <div class="sw-cms-preview-three-column-captioned-images-horizontal__content">
            <h4>Lorem</h4>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="sw-cms-preview-three-column-captioned-images-horizontal__item">
        <div class="sw-cms-preview-three-column-captioned-images-horizontal__image">
            <img :src="assetFilter('/administration/administration/static/img/cms/preview_plant_small.webp')" alt="">
            <span class="sw-cms-preview-three-column-captioned-images-horizontal__btn">Button</span>
        </div>
        <div class="sw-cms-preview-three-column-captioned-images-horizontal__content">
            <h4>Ipsum</h4>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="sw-cms-preview-three-column-captioned-images-horizontal__item">
        <div class="sw-cms-preview-three-column-captioned-images-horizontal__image">
            <img :src="assetFilter('/administration/administration/static/img/cms/preview_glasses_small.webp')" alt="">
            <span class="sw-cms-preview-three-column-captioned-images-horizontal__btn">Button</span>
        </div>
        <div class="sw-cms-preview-three-column-captioned-images-horizontal__content">
            <h4>Dolor</h4>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

</div>
{% endblock %}
