{% sw_extends '@Storefront/storefront/component/listing/filter-panel.html.twig' %}

{% block component_filter_panel_element %}
    {% set openFilterOptions = {
        elements: theme_config('zen-category-filter-open-elements'),
    } %}

    {% if theme_config('zen-category-filter-open') and sidebar %}
        <div class="filter-panel{% if sidebar %} is--sidebar{% endif %}"
             data-zen-open-filter="true"
             data-zen-open-filter-options="{{ openFilterOptions|json_encode }}">

            {{ block('component_filter_panel_items_container') }}

            {{ block('component_filter_panel_active_container') }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
