<sw-page class="blog-category-create">
    <template #smart-bar-header>
        <h2>Create blog category</h2>
    </template>

    <template #smart-bar-actions>
        <mt-button variant="secondary" @click="$router.push({ name: 'blog.category.list' })">
            Cancel
        </mt-button>

        <sw-button-process
            variant="primary"
            :process-success="isSaveSuccessful"
            :is-loading="isLoading"
            :disabled="isLoading"
            @update:process-success="isSaveSuccessful = false"
            @click="onSave">
            Save
        </sw-button-process>
    </template>

    <template #content>
        <sw-loader v-if="isLoading" />

        <sw-card-view v-else-if="blogCategory">
            <mt-card :title="'General'" :isLoading="isLoading">
                <mt-text-field
                    v-model="blogCategory.name"
                    required
                    type="text"
                    label="Name" />
            </mt-card>
        </sw-card-view>

        <sw-empty-state v-else title="Initializing..." />
    </template>
</sw-page>
