<sw-page class="blog-category-create">
    <template #smart-bar-header>
        <h2>{% verbatim %}{{ $tc('blog-system.category.create.title') }}{% endverbatim %}</h2>
    </template>

    <template #smart-bar-actions>
        <sw-language-switch
            :disabled="isLoading || !blogCategory"
            @on-change="onChangeLanguage"
            @change="onChangeLanguage" />

        <mt-button variant="secondary" @click="$router.push({ name: 'blog.category.list' })">
            {% verbatim %}{{ $tc('blog-system.common.cancel') }}{% endverbatim %}
        </mt-button>

        <sw-button-process
            variant="primary"
            :process-success="isSaveSuccessful"
            :is-loading="isLoading"
            :disabled="isLoading"
            @update:process-success="isSaveSuccessful = false"
            @click="onSave">
            {% verbatim %}{{ $tc('blog-system.common.save') }}{% endverbatim %}
        </sw-button-process>
    </template>

    <template #content>
        <sw-loader v-if="isLoading" />

        <sw-card-view v-else-if="blogCategory">
            <mt-card :title="$tc('blog-system.category.detail.generalCard')" :isLoading="isLoading">
                <mt-text-field
                    v-model="blogCategory.name"
                    required
                    type="text"
                    :label="$tc('blog-system.category.detail.field.name')" />
            </mt-card>
        </sw-card-view>

        <sw-empty-state v-else :title="$tc('blog-system.common.initializing')" />
    </template>
</sw-page>
