<sw-page class="blog-category-detail">
    <template #smart-bar-header>
        <h2>
            {% verbatim %}{{ $tc('blog-system.category.detail.title') }}{% endverbatim %}
            <template v-if="blogCategory && blogCategory.name">- {{ blogCategory.name }}</template>
        </h2>
    </template>

    <template #smart-bar-actions>
        <sw-language-switch
            :disabled="isLoading || !blogCategory"
            @on-change="onChangeLanguage"
            @change="onChangeLanguage" />

        <mt-button variant="danger" :disabled="isLoading || !blogCategory" @click="onDelete">
            {% verbatim %}{{ $tc('blog-system.common.delete') }}{% endverbatim %}
        </mt-button>

        <sw-button-process
            variant="primary"
            :process-success="isSaveSuccessful"
            :is-loading="isLoading"
            :disabled="isLoading || !blogCategory"
            @update:process-success="isSaveSuccessful = false"
            @click="onSave">
            {% verbatim %}{{ $tc('blog-system.common.save') }}{% endverbatim %}
        </sw-button-process>
    </template>

    <template #content>
        <sw-loader v-if="isLoading" />

        <sw-card-view v-else-if="blogCategory">
            <mt-card :title="$tc('blog-system.category.detail.generalCard')" :isLoading="isLoading">
                <mt-text-field
                    v-model="blogCategory.name"
                    required
                    type="text"
                    :label="$tc('blog-system.category.detail.field.name')" />
            </mt-card>
        </sw-card-view>

        <sw-empty-state v-else :title="$tc('blog-system.category.notification.loadError')" />
    </template>
</sw-page>
