{% block sw_cms_el_cms_enhancements_button %}
<div class="sw-cms-el-cms-enhancements-button">
    <mt-button
        :variant="element.config.variant.value"
        :disabled="true"
    >
        {{ element.config.label.value }}
    </mt-button>
</div>
{% endblock %}
