{% sw_extends '@Storefront/storefront/element/cms-element-product-name.html.twig' %}

{% block element_product_name_inner %}
    {% set product = page.product %}

    {{ parent() }}

    {# ... @zenit - add variant characteristics #}
    {% block zen_page_product_detail_variant_characteristics %}
        {% if theme_config('zen-product-details-variant-characteristics') %}
            <div class="product-variant-characteristics">
                {% for variation in page.product.variation %}
                    {{ variation.group }}:
                    <span class="product-variant-characteristics-option">
                        {{ variation.option }}
                    </span>

                    {% if page.product.variation|last != variation %}
                        {{ " | " }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}
