{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
    {% block zen_page_product_detail_properties_tab_container %}
        <div class="product-detail-properties-tab tab-pane-container">
            {% sw_include '@Storefront/storefront/component/product/properties.html.twig' %}
        </div>
    {% endblock %}
{% endblock %}

{% block utilities_offcanvas_close_text %}
    {{ 'zentheme.detail.tabsProperties'|trans|sw_sanitize }}
{% endblock %}
