{% sw_extends '@Storefront/storefront/component/product/description.html.twig' %}

{% block component_product_description_content_text %}
    <div class="product-detail-description-text"
         itemprop="description">
        {% if product.customFields.migration_DMG_product_variant_description_long is not empty %}
            {{ product.customFields.migration_DMG_product_variant_description_long|raw }}
        {% else %}
            {{ product.translated.description|raw }}
        {% endif %}
    </div>
{% endblock %}